@media screen and (max-width : 1920px){
    .desk {
        visibility: hidden;

    }
    .div-only-mobile {
        visibility:visible;
    }
}
@media screen and (max-width : 1280px){
    .div-only-mobile {
        visibility:hidden;
        display: none;
    }

    .div-vis-mobile {
        visibility: visible;
    }

}
@media screen and (min-width : 1280px){
    .div-hide-desktop {
        visibility: hidden;
        display: none;
    }
}

@media screen and (max-width : 770px){
    .row-separator {
        margin-top: 96px;
    }
}

/*.bg {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    background-image: url("../assets/waves2.svg"), linear-gradient(90deg, #364164, #24344a, #233b56);*/
/*    background-position: bottom;*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.bg {
    background-image: url("../assets/IMG_House.jpeg");
    background-size: cover;
    width: 100%;
    height: auto;
}

.card-bg {
    border-radius: 0;
    background: rgba(45, 51, 77, 0.98);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    color: aliceblue;
}

h2 {
    color: #eeeeee;
}

a:link {
    color: #eeeeee;
}

a:visited {
    color: #eeeeee;
}

a:hover {
    color: #80ffeb;
}

main {
    height: 100vh;
}

nav {
    height: 100vh;
}

.nav-item {
    background-clip: content-box;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-block {
    display: block;
    text-decoration: none;
    background-color: #2d334d;
    margin-top: 0;
    padding: 5px;
    border-radius: 0
}

.nav-text-big {
    font-size: 1.5rem;

}

.nav-text-small {
    font-size: 1rem;
    font-weight: lighter;
}

.btn-dark {
    color: #fff;
    background-color: #2d334d;
    border-color: #2d334d
}

::-webkit-scrollbar {
    width: 0;
}

tbody {
    display:block;
    overflow:auto;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}
table {
    width:400px;
}

#real td, #real th {
    border-collapse: collapse;
     margin: 25px 0;
     font-size: 0.9em;
     font-family: sans-serif;
     min-width: 400px;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#real tr:nth-child(even){background-color: rgba(242, 242, 242, 0.1);}

#real tr:hover {background-color: rgba(221, 221, 221, 0.3);}

#real th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #255279;
    color: white;
}

#real {
    border-collapse: collapse;
}

#pred td, #pred th {
    border: 1px solid #ddd;
}

#pred tr:nth-child(even){background-color: rgba(242, 242, 242, 0.1);}

#pred tr:hover {background-color: rgba(221, 221, 221, 0.3);}

#pred th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    background-color: #1f695d;
    color: white;
}

#real {
    border-collapse: collapse;
}

.topnav {
    background-color: #2d334d;
    overflow: hidden;
    height: 55px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

ul {
    list-style: none;
    padding-left: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}

 /* .styled-table {
     border-collapse: collapse;
     margin: 25px 0;
     font-size: 0.9em;
     font-family: sans-serif;
     min-width: 400px;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
 }

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
} */
